<!-- Parameters -->
<!-- form -->

{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block header %}
<div class="page-title">로그인</div>
<ul>
    <li>
        <a href="{% url 'index' %}">홈으로</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        <div class="panell">
            <div class="panel-row">
                <div class="label">아이디</div>
                <div class="input">
                    {{ form.username }}
                </div>
            </div>
            <div class="panel-row">
                <div class="label">비밀번호</div>
                <div class="input">
                    {{ form.password }}
                </div>
            </div>
            <div class="panel-row center">
                <button type="submit">로그인</button>
            </div>
          </div>
    </form>
    <div>
        회원이 아닌가요? &gt;&nbsp;
        <a href="{% url 'register' %}">회원가입</a>
    </div>
</div>
{% endblock %}
