<!-- Parameters -->
<!-- user, form -->

{% extends 'base.html' %}

{% block title %}
    {% if article %}
        편지 수정하기
    {% else %}
        새로운 편지 쓰기
    {% endif %}
{% endblock %}

{% block script %}
<script 
    type="text/javascript" 
    src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js" 
    defer>
</script>
{% load static %}
<script type="text/javascript" src="{% static 'init-editor.js' %}" defer></script>
{% endblock %}

{% block header %}
<div class="page-title">
    {% if article %}
        편지 수정하기
    {% else %}
        새로운 편지 쓰기
    {% endif %}
</div>
<div>{{ user.username|escape }}이(가) 작성하는 중</div>
{% endblock %}

{% block content %}
<div class="page-content">
    <form method="POST" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        <br><button type="submit" onclick="alert('편지가 등록되었지만 아직 부대로 전송되지 않았습니다. 편지 목록에서 \'전송하기\' 버튼을 반드시 눌러 주세요.')">작성 완료</button>
    </form>
</div>
{% endblock %}
